
$baseImg: '../../../assets/images/energy_map/';
.bottom-tab{
    width: 445px;
    height: 72px;
    background: rgba(3, 63, 94, 0.6);
    border:1px solid rgba(51,153,255,0.3);
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    font-size: 14px;

    .title{
        font-weight: 500;
        color:rgba(91,170,255,1);
    }

    .item{
        font-weight: 400;
        color:rgba(211,211,211,1);
        cursor: pointer;

        .tab-text{
            margin-left: -15px;
        }
    }

    .icon{
        width: 65px;
        height: 65px;
        display: inline-block;
        background: url($baseImg+'he_disabled.png') center no-repeat;
        vertical-align: middle;

        &.active1{
            background: url($baseImg+'yn.png') center no-repeat;
        }

        &.active2{
            background: url($baseImg+'kt.png') center no-repeat;
        }

        &.active3{
            background: url($baseImg+'cd.png') center no-repeat;
        }
    }
}

.head{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:20px;
    right: 25px;

    /deep/ input{
        width: 260px;
        height: 34px;
        background: rgba(0,37,62, 0.8);
        border: 1px solid rgba(51,153,255,0.3);
        color: #4BCAD5;
      }

      /deep/ .search-down{
        width: 260px !important;
        background: rgba(0,37,62, 0.8);
        border: 1px solid rgba(51,153,255,0.3);

        li {
          line-height: normal;
          padding: 7px;
          .name {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size:14px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color: #bdbdbd;
          }
          .addr {
            font-size:12px;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            color:rgba(129,152,177,1);
          }
        }

        .popper__arrow{
          display: none;
        }
      }

      .collapse{
          width: 32px;
          height: 32px;
          border:1px solid rgba(51,153,255,0.3);
          background: rgba(0,37,62, 0.8);
          display: inline-block;
          vertical-align: middle;
          margin-left: 16px;
          cursor: pointer;

          .icon{
            width: 100%;
            height: 100%;
            background-image: url($baseImg+'collapse.png');
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s;

            &.open{
                transform: rotate(180deg);
            }
          }
      }

      .collapse-content{
          width: calc(100% - 50px);
          height: 190px;
          background: rgba(0,37,62, 0.8);
          border: 1px solid rgba(51, 153, 255, 0.3);
          position: absolute;
          top: 45px;
          right: 0;
          padding: 20px 30px;

          .title{
              padding-bottom: 14px;
              color: #fff;
              font-size: 18px;
          }

          .import-container{
              position: absolute;
              top: 20px;
              right: 30px;

              .import, .export{
                  width: 62px;
                  height: 26px;
                  line-height: 26px;
                  padding-left: 25px;
                  border: 1px solid rgba(51, 153, 255, 0.3);
                  background: rgba(0,37,62, 0.8);
                  display: inline-block;
                  font-size: 14px;
                  color: rgba(211,211,211,1);
              }

              .import{
                  margin-right: 5px;
                  background: url($baseImg+'import.png') 9px center no-repeat;
              }
              .export{
                background: url($baseImg+'export.png') 9px center no-repeat;
            }
          }

          .collapse-item-container{
              display: flex;
              justify-content: space-between;
          }

          .collapse-item{
              flex: 1;
              margin-left: 24px;
              height: 110px;
              padding: 20px 30px 15px 24px;
              background:linear-gradient(270deg,rgba(2,82,110,0.6) 0%,rgba(3,53,78,0.6) 100%);

              &:first-child{
                margin-left: 0;
              }

              .name{
                  font-size: 14px;
                  color: rgba(129,159,184,1);
              }

              .value{
                  font-size: 34px;
                  color: #fff;
                  margin-top: 22px;
              }

              .icon{
                width: 46px;
                height: 100%;
              }

              .icon1{
                background: url($baseImg+'col_icon1.png') center center no-repeat; 
                background-size: 46px 46px;
              }
              .icon2{
                background: url($baseImg+'col_icon2.png') center center no-repeat; 
                background-size: 46px 46px;
              }
              .icon3{
                background: url($baseImg+'col_icon3.png') center center no-repeat; 
                background-size: 46px 46px;
              }
              .icon4{
                background: url($baseImg+'col_icon4.png') center center no-repeat; 
                background-size: 46px 46px;
              }
              .icon5{
                background: url($baseImg+'col_icon5.png') center center no-repeat; 
                background-size: 46px 46px;
              }
              .icon6{
                background: url($baseImg+'col_icon6.png') center center no-repeat; 
                background-size: 46px 46px;
              }
          }
      }
}
.energy-map{
    width: 100%;
    height: 100%;
    position: relative;
}

// .main{
//     width: 100%;
//     height: 980px;
//     padding: 20px 25px;
//     position: absolute;
//     top: 0;
//     left:0;
// }

