// 变量
$header-bgcolor:#1a687f;
$main-bgcolor:#f5f5f5;
$header-navmenu-sub-bgcolor:#2a6d93;
$header-height:150px;
$router-link-active-color:#ffcd36;
$tabs-router-link-active-color:#33a9e2;
$tabs-bgcolor:#eaeaea;
